policy_module(pershyancoin, 1.100.1)

########################################
#
# Declarations
#

type pershyancoin_t;
type pershyancoin_exec_t;
init_daemon_domain(pershyancoin_t, pershyancoin_exec_t)

permissive pershyancoin_t;

type pershyancoin_initrc_exec_t;
init_script_file(pershyancoin_initrc_exec_t)

type pershyancoin_conf_t;
files_type(pershyancoin_conf_t)

type pershyancoin_var_lib_t;
files_type(pershyancoin_var_lib_t)

type pershyancoin_var_run_t;
files_type(pershyancoin_var_run_t)

type pershyancoin_port_t;
corenet_port(pershyancoin_port_t)

########################################
#
# pershyancoin local policy
#
allow pershyancoin_t self:process { fork };

allow pershyancoin_t self:fifo_file rw_fifo_file_perms;
allow pershyancoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(pershyancoin_t, pershyancoin_conf_t, pershyancoin_conf_t)
manage_files_pattern(pershyancoin_t, pershyancoin_conf_t, pershyancoin_conf_t)

manage_dirs_pattern(pershyancoin_t, pershyancoin_var_lib_t, pershyancoin_var_lib_t)
manage_files_pattern(pershyancoin_t, pershyancoin_var_lib_t, pershyancoin_var_lib_t)
files_var_lib_filetrans(pershyancoin_t, pershyancoin_var_lib_t, { dir file })

manage_dirs_pattern(pershyancoin_t, pershyancoin_var_run_t, pershyancoin_var_run_t)
manage_files_pattern(pershyancoin_t, pershyancoin_var_run_t, pershyancoin_var_run_t)

sysnet_dns_name_resolve(pershyancoin_t)
corenet_all_recvfrom_unlabeled(pershyancoin_t)

allow pershyancoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(pershyancoin_t)
corenet_tcp_sendrecv_generic_node(pershyancoin_t)
corenet_tcp_sendrecv_all_ports(pershyancoin_t)
corenet_tcp_bind_generic_node(pershyancoin_t)

gen_require(`
    type pershyancoin_port_t;
')
allow pershyancoin_t pershyancoin_port_t:tcp_socket name_bind;

gen_require(`
    type pershyancoin_port_t;
')
allow pershyancoin_t pershyancoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(pershyancoin_t)

files_read_etc_files(pershyancoin_t)

miscfiles_read_localization(pershyancoin_t)

sysnet_dns_name_resolve(pershyancoin_t)

allow pershyancoin_t pershyancoin_exec_t:file execute_no_trans;
allow pershyancoin_t self:process setsched;
corecmd_exec_ls(pershyancoin_t)
corenet_tcp_connect_http_port(pershyancoin_t)
dev_read_urand(pershyancoin_t)
fs_getattr_xattr_fs(pershyancoin_t)
kernel_read_system_state(pershyancoin_t)
